numpy
pandas
matplotlib
seaborn
openradar
pyserial
flirpy==0.3.0
rplidar-roboticia==0.9.5
openradar
jupyter
matplotlib
scikit-learn
scipy
opencv-python-headless
requests
python-nmap==0.7.1
soundfile
librosa
streamlit
jsonify
paramiko
depthai
scikit-image
soundfile==0.11.0
jstyleson
sounddevice
tflite_runtime