[Unit]
Description=thermal_data_record Service
After=multi-user.target

[Service]
Type=idle
User=vax
ExecStart=/usr/bin/python3 /home/vax/minitft/mlx_sensor_display.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
