numpy==1.23.5
jupyter
matplotlib
pandas==1.5.3
scikit-learn
scipy
opencv-python-headless
requests
soundfile
librosa
streamlit
jsonify
seaborn
imblearn
cleanlab
scikit-image
soundfile
tensorflow
moviepy
resampy
openradar
xgboost
# //conda install -c conda-forge python-sounddevice
