
[Unit]
Description=stats_record Service
After=multi-user.target

[Service]
Type=idle
User=synergy
ExecStart=/home/synergy/miniconda3/envs/vax/bin/python /home/synergy/vax/data_collection_v2/record_tofimager.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
