[Unit]
Description=ticktock database Service
Requires=docker.service
After=docker.service

[Service]
Type=idle
User=root
Restart=always
ExecStart=/home/synergy/vax/data_collection_v2/ticktock_db.sh
RestartSec=60

[Install]
WantedBy=default.target
